{"allowBoost":false,"allowBrightness":false,"allowColorDepth":false,"allowContrast":false,"allowHUE":false,"allowModifications":false,"allowOpacity":false,"allowSaturation":false,"autoGenNormalMap":true,"autoGenNormalMapBias":50,"blackIsAlpha":false,"boostBlue":0,"boostGreen":0,"boostRed":0,"brightness":0,"colordepth":0,"contrast":100,"filter":"BiLinear","flipX":false,"flipY":false,"format":"Leaves","gaussian":false,"genMipmaps":true,"grayscale":false,"height":64,"hue":180,"invertColors":false,"is9patch":false,"maxResolutionID":6,"noise":false,"originalHeight":2048,"originalWidth":4096,"quality":100,"rotate":"None","saturation":100,"sepia":false,"sharpen":false,"sketch":false,"vignette":false,"width":128,"wrap":"Repeat"}