{"javaScripts":[{"className":"BoxBlur","filePath":"Shaders/Blurs/BoxBlur/BoxBlur.java","metaFolder":"Shaders/Blurs/BoxBlur/BoxBlur.meta/"},{"className":"_JContainer","filePath":"_PROJECT/Scripts/_JContainer.java","metaFolder":"_PROJECT/Scripts/_JContainer.meta/"},{"className":"Test","filePath":"Files/Scripts/Test.java","metaFolder":"Files/Scripts/Test.meta/"},{"className":"R","filePath":"_PROJECT/Scripts/R.java","metaFolder":"_PROJECT/Scripts/R.meta/"},{"className":"R$File","filePath":"_PROJECT/Scripts/R.java","metaFolder":"_PROJECT/Scripts/R.meta/"}]}